:root {
  /* --primary-color: #0a192f; */
  --primary-color: #121212;
  --navbar-color: #1e1e1e;
  /* --navbar-font-color: #ff3366; */
  --navbar-font-color: #ff0055;
  --size-0-5: 0.5rem;
  --size-1: 1rem;
  --size-1-5: 1.5rem;
  --size-2: 2rem;
  --size-4: 4rem;
  --spacing-0-5: 0.5rem;
  --spacing-1: 1rem;
  --spacing-1-5: 1.5rem;
  --spacing-2: 2rem;
  --spacing-4: 4rem;
  --spacing-60: 60rem;
  --spacing-tmp: 100rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common typography styles */
body {
  background-color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  font-size: var(--size-1);
}

.header {
  border: 1px solid black;
  background-color: var(--navbar-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--spacing-4);
  padding: 0 var(--spacing-1-5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--spacing-4);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-60);
  font-size: var(--size-1-5);
  color: var(--navbar-font-color);
}

.nav-links {
  display: flex;
  gap: var(--spacing-1);

  > a {
    color: inherit;
  }
}

.main {
  margin-top: var(--spacing-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-1-5);
}

.hero-section {
  outline: 1px solid black;
  margin-inline: 10rem;
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero-content {
  outline: 1px solid black;
  flex: 1;
  /* flex-grow: 1;
  flex-shrink: 4; */

  > h1 {
    font-size: var(--size-4);
    padding: var(--spacing-0-5) var(--spacing-0-5);
  }

  > h2 {
  }

  > p {
  }
}

.hero-img-container {
  outline: 1px solid black;
  flex: 1;
  /* flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto; */
}

.hero-img {
  width: 70%;
  object-fit: contain;
}
